h1{
    font-size: 80px;
    font-weight: bolder;
}

bg-body{
    background-color: #083b4c;
}

bg-fizz{
    background-color: #0bd6a1;
}

bg-buzz{
    background-color: #ffd166;
}

bg-fizzbuzz{
    background-color: #f0466f;
}

bg-normal{
    background-color: #1389b2;
}

.col-7{
    width: calc(100% / 7);
    display: flex;
}

.box{
   width: 70px;
   height: 70px;
   border: 1px solid;

}

.row{
    --bs-gutter-y: 1.5rem;
    --bs-gutter-x: 1.5rem;
}