h1{
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 60px;
    color: white;
}

body{
    background-color: #083b4c;
}

.bg-fizz{
    background-color: #0bd6a1;
}

.bg-buzz{
    background-color: #ffd166;
}

.bg-fizzbuzz{
    background-color: #f0466f;
}

.bg-normal{
    background-color: #1389b2;
}

.col-7{
    width: calc((100% / 7) - 3rem);
    flex: 0 0 auto;
}

.box{

   min-width: 150px;
   min-height: 150px;
   border: 1px solid;
   font-size: 20px;
   font-weight: bolder;

}
